@import "variables";

body {
    @extend .font-primary;
}

.font-primary {
    font-family: $primary-font-family;
}

.font-secondary {
    font-family: $secondary-font-family;
}

h1, h2, h3, h4, h5, h6 {
    @extend .font-primary;
}

p, span, small {
    @extend .font-secondary;
}

@each $key, $value in $typography {
    #{$key} {
        font-size: nth($value, 1);
        margin: nth($value, 2);
        line-height: nth($value, 3);
        display: nth($value, 4);
    }
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}
